HUB_API_PORT=3030
HUB_WEB_PORT=3000
FREDDY_ROOT=/Users/frankoverland/freddy
PROTO_BASE_PATH=/Users/frankoverland/freddy/proto-base
EXCALIBRR_PATH=/Users/frankoverland/freddy/excalibrr-freddy
PROJECTS_PATH=/Users/frankoverland/freddy/projects
PORT_RANGE_START=3002
PORT_RANGE_END=3050
