// light-theme.less

@import 'antd/lib/style/color/colorPalette.less';
@import 'antd/dist/antd.less';
@import 'antd/lib/style/themes/default.less';

/*** Theme YOUR Colors here!! **/

@bg-1: #ffffff;
@bg-2: #f8f9fa;
@bg-3: #eef0f8;

@theme-color-1: #235BA8;
@theme-color-2: #2B2F35;
@theme-color-3: #DE241B;
@theme-color-4: #263476;
@theme-optimal: #c79c02;

@theme-error: #f22939;
@theme-success: #64d28d;
@theme-warning: #f26e29;
@theme-info: #cce5ff;
@theme-option: #8dabc4;

/*** Theme color generation and 3rd party overrides **/
@import url('../../ThemeBase/light.less');
/*** Base styles and overrides **/
@import url('../../ThemeBase/base.less');

.horizontal-nav .logo {
  background-image: url('../../../../../assets/murphy/murphy-logo-light.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
}
