// light-theme.less

@import 'antd/lib/style/color/colorPalette.less';
@import 'antd/dist/antd.less';
@import 'antd/lib/style/themes/default.less';

/*** Theme YOUR Colors here!! **/

@bg-1: #ffffff;
@bg-2: #F8F9FA;
@bg-3: #EEF0F8;

@theme-color-1: #007f00;
@theme-color-2: #339833;
@theme-color-3: #b8a600;
@theme-color-4: #007f00;
@theme-optimal: #c79c02;

@theme-error: #E42A11;
@theme-success: #23A217;
@theme-warning: #FF9900;
@theme-info: #74CDD7;
@theme-option: #8dabc4;

/*** Theme color generation and 3rd party overrides **/
@import url('../../ThemeBase/light.less');
/*** Base styles and overrides **/
@import url('../../ThemeBase/base.less');

:root {
  --primary-gradient: linear-gradient(#007f00 0%, #006100 100%);
}

.ag-theme-alpine {
  --ag-row-hover-color: #E9F6E8;
}

.horizontal-nav .logo {
  background-image: url('../../../../../assets/bp/logos/bp-logo-dark.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
}