.ant-popover-arrow {
  display: none !important;
}
.ant-popover-placement-bottom,
.ant-popover-placement-bottomLeft,
.ant-popover-placement-bottomRight {
  padding-top: 0 !important;
}

.pointer:hover {
  cursor: pointer;
}

.disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}
.ant-radio-button-wrapper-checked {
  outline: none;
  outline-offset: 0;
  border: none;
  box-shadow: none;
}
