@import '../core.less';
@border-radius-base: 0px;
@font-size-base: 12px;
@font-family: 'lato';
@text-color: var(--gray-700);

@component-background: @bg-1;
@popover-background: @bg-1;
@border-color-split: @bg-2;
@btn-default-bg: @bg-2;

@border-color-base: var(--gray-300);
@table-header-sort-active-bg: var(--theme-color-2-dim);
@table-header-sort-active-bg: var(--theme-color-2-dim);

@dark-gray: #303030;
@primary-color: @theme-color-2;
